name: Test

on:
  push:
    branches: [main]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5

    - name: Setup Go
      uses: actions/setup-go@v6
      with:
        cache: true
        go-version-file: ./go.mod

    - name: Build
      run: GOWORK=off CGO_ENABLED=0 go build -v

    - name: staticcheck
      uses: dominikh/staticcheck-action@v1
      env:
        GOWORK: off
      with:
        install-go: false
        version: "latest"

    - name: staticcheck gen module
      uses: dominikh/staticcheck-action@v1
      env:
        GOWORK: off
      with:
        install-go: false
        version: "latest"
        working-directory: gen
        cache-key: "gen"

    - name: Test
      run: |
        GOWORK=off CGO_ENABLED=0 \
        go run gotest.tools/gotestsum@latest \
          --junitfile ../tests.xml \
          --hide-summary=skipped \
          --format-hide-empty-pkg \
          --junitfile-hide-empty-pkg \
          --format=github-actions -- \
            -shuffle=on -vet=all -coverprofile=coverage.out ./...

    - name: Test gen module
      working-directory: ./gen
      run: |
        GOWORK=off CGO_ENABLED=0 \
        go run gotest.tools/gotestsum@latest \
          --hide-summary=skipped \
          --format-hide-empty-pkg \
          --junitfile-hide-empty-pkg \
          --format=github-actions -- \
            -shuffle=on -vet=all -coverprofile=coverage.out ./...

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        files: ./coverage.out,./gen/coverage.out
